In [1]:
import pandas as pd 
from textblob import TextBlob

In [2]:
df_ny= pd.read_csv('df_california_limpio.csv')
df_ny

,Usuario,Rating_Usuario,Review,gmap_id,Anio,Mes,dia,Estado
0,song ro,5,love there korean rice cake,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2021,1,6,California
1,rafa robles,5,good very good,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2021,2,9,California
2,david han,4,they make korean traditional food very properly,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2020,3,8,California
3,anthony kim,5,short ribs are very delicious,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2019,3,7,California
4,mario marzouk,5,great food and prices the portions are large,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2017,5,16,California
...,...,...,...,...,...,...,...,...
1345050,long lu,5,NaN,0x808fc0c19ba4e761:0x589c9ad71c62a420,2020,8,19,California
1345051,cynthia sanchez,5,well,0x808fc0c19ba4e761:0x589c9ad71c62a420,2018,1,27,California
1345052,adanael valle,1,blades there,0x808fc0c19ba4e761:0x589c9ad71c62a420,2018,1,19,California
1345053,ki win,4,pay attention to the animal,0x808fc0c19ba4e761:0x589c9ad71c62a420,2017,10,9,California
1345054,anibal recinos,5,this park is very beautiful,0x808fc0c19ba4e761:0x589c9ad71c62a420,2018,7,10,California

In [4]:
# Crear una nueva columna 'Sentiment' para almacenar los resultados del análisis de sentimiento
df_ny['Sentimiento'] = df_ny['Review'].apply(lambda text: TextBlob(str(text)).sentiment.polarity)

In [5]:
# Clasificar el sentimiento en categorías (positivo, neutral, negativo)
def categorizar_sentimiento(polarity):
    if polarity > 0:
        return 'Positivo'
    elif polarity == 0:
        return 'Neutral'
    else:
        return 'Negativo'

df_ny['Categ_Sentimiento'] = df_ny['Sentimiento'].apply(categorizar_sentimiento)
df_ny

,Usuario,Rating_Usuario,Review,gmap_id,Anio,Mes,dia,Estado,Sentimiento,Categ_Sentimiento
0,song ro,5,love there korean rice cake,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2021,1,6,California,0.500000,Positivo
1,rafa robles,5,good very good,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2021,2,9,California,0.805000,Positivo
2,david han,4,they make korean traditional food very properly,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2020,3,8,California,0.000000,Neutral
3,anthony kim,5,short ribs are very delicious,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2019,3,7,California,0.500000,Positivo
4,mario marzouk,5,great food and prices the portions are large,0x80c2c778e3b73d33:0xbdc58662a4a97d49,2017,5,16,California,0.507143,Positivo
...,...,...,...,...,...,...,...,...,...,...
1345050,long lu,5,NaN,0x808fc0c19ba4e761:0x589c9ad71c62a420,2020,8,19,California,0.000000,Neutral
1345051,cynthia sanchez,5,well,0x808fc0c19ba4e761:0x589c9ad71c62a420,2018,1,27,California,0.000000,Neutral
1345052,adanael valle,1,blades there,0x808fc0c19ba4e761:0x589c9ad71c62a420,2018,1,19,California,0.000000,Neutral
1345053,ki win,4,pay attention to the animal,0x808fc0c19ba4e761:0x589c9ad71c62a420,2017,10,9,California,0.000000,Neutral
1345054,anibal recinos,5,this park is very beautiful,0x808fc0c19ba4e761:0x589c9ad71c62a420,2018,7,10,California,1.000000,Positivo

In [6]:
df_ny.to_csv('df_california_analisis_sentimietnos.csv', index=False)