In [2]:
import pandas as pd
import os

# Extracción de datos de Maps

In [25]:
dfx = pd.DataFrame()
for i in range(1,12):
    df = pd.read_json(f'C:/Users/tinma/OneDrive/Escritorio/Google Maps/metadata-sitios/{i}.json',lines=True)
    pd.concat([dfx,df])
dfx

Empty DataFrame
Columns: []
Index: []

In [30]:
source_path = 'C:/Users/tinma/OneDrive/Escritorio/Google Maps/estados'

lista = os.listdir(f'{source_path}')
dfx = pd.DataFrame()
for i in lista:
    list_ = os.listdir(f'{source_path}/{i}')
    for j in list_:
        df = pd.read_json(f'{source_path}/{i}/{j}',lines=True)
        dfx = pd.concat([dfx,df],axis=0)

dfx

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.089912e+20,Song Ro,1609909927056,5,Love there korean rice cake.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
1,1.112903e+20,Rafa Robles,1612849648663,5,Good very good,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
2,1.126404e+20,David Han,1583643882296,4,They make Korean traditional food very properly.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
3,1.174403e+20,Anthony Kim,1551938216355,5,Short ribs are very delicious.,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
4,1.005808e+20,Mario Marzouk,1494910901933,5,Great food and prices the portions are large,None,None,0x80c2c778e3b73d33:0xbdc58662a4a97d49
...,...,...,...,...,...,...,...,...
149995,1.021681e+20,t williams,1562883151018,5,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4
149996,1.054173e+20,Erika Lira,1532009672494,5,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4
149997,1.107857e+20,Jon Brent,1567968578697,5,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4
149998,1.091676e+20,lunna cabal,1506476840285,4,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4
149999,1.012701e+20,Michelle Torres,1555551049893,5,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4

In [ ]:
pd.read_json(f'{source_path}/review-California/1.json',lines=True)

In [29]:
pd.read_json(f'{source_path}/{i}/{j}',lines=True)

,user_id,name,time,rating,text,pics,resp,gmap_id
0,1.061903e+20,Raza Hussain,1496027009883,5,None,None,None,0x8640b2295b4d3271:0x48f9204ade2b900e
1,1.088400e+20,Janet Denney,1575473992383,5,None,None,None,0x8640b2295b4d3271:0x48f9204ade2b900e
2,1.120277e+20,its.yaboineb,1509840227559,5,None,None,None,0x8640b2295b4d3271:0x48f9204ade2b900e
3,1.170677e+20,street Adrian,1496209109675,5,None,None,None,0x8640b2295b4d3271:0x48f9204ade2b900e
4,1.027301e+20,josh r,1531173345808,2,None,None,None,0x8640b2295b4d3271:0x48f9204ade2b900e
...,...,...,...,...,...,...,...,...
149995,1.021681e+20,t williams,1562883151018,5,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4
149996,1.054173e+20,Erika Lira,1532009672494,5,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4
149997,1.107857e+20,Jon Brent,1567968578697,5,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4
149998,1.091676e+20,lunna cabal,1506476840285,4,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4
149999,1.012701e+20,Michelle Torres,1555551049893,5,None,None,None,0x8640d215ff1e43e5:0xaeeb5211a25191f4

In [3]:
source_path = 'C:/Users/tinma/OneDrive/Escritorio/Google Maps/metadata-sitios'

pd.read_json(f'{source_path}/1.json',lines=True)

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,None,32.388300,-83.357100,[Pharmacy],4.9,16,None,"[[Friday, 8AM–6PM], [Saturday, 8AM–12PM], [Sun...","{'Service options': ['In-store shopping', 'Sam...",Open ⋅ Closes 6PM,"[0x88f16e41929435cf:0x5b2532a2885e9ef6, 0x88f1...",https://www.google.com/maps/place//data=!4m2!3...
1,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,None,34.018891,-118.215290,[Textile exporter],4.5,6,None,None,None,Open now,"[0x80c2c624136ea88b:0xb0315367ed448771, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,None,34.058092,-118.292130,[Korean restaurant],4.4,18,None,"[[Thursday, 6:30AM–6PM], [Friday, 6:30AM–6PM],...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 6PM,"[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
3,Nova Fabrics,"Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...",0x80c2c89923b27a41:0x32041559418d447,None,34.023669,-118.232930,[Fabric store],3.3,6,None,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...","{'Service options': ['In-store shopping'], 'Pa...",Open ⋅ Closes 5PM,"[0x80c2c8811477253f:0x23a8a492df1918f7, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
4,Nobel Textile Co,"Nobel Textile Co, 719 E 9th St, Los Angeles, C...",0x80c2c632f933b073:0xc31785961fe826a6,None,34.036694,-118.249421,[Fabric store],4.3,7,None,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...",{'Service options': ['In-store pickup']},Open ⋅ Closes 5PM,"[0x80c2c62c496083d1:0xdefa11317fe870a1, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274996,Maven Realty,"Maven Realty, 2180 McMillan Ave #71672, North ...",0x88fe64e7daceaaab:0x101c046dcadcc9c3,None,32.857737,-79.985839,[Real estate agency],4.9,15,None,"[[Saturday, Open 24 hours], [Sunday, Open 24 h...",None,Open 24 hours,"[0x88fe657160ccc965:0xc675c849dc6d96ba, 0x88fe...",https://www.google.com/maps/place//data=!4m2!3...
274997,Stone Castle Fence,"Stone Castle Fence, 124 Cypress Gardens Rd, Mo...",0x88fe59f4602c95fd:0x57e2b1904d9e6949,None,33.089951,-80.078021,"[Fence contractor, Construction company, Contr...",4.0,18,None,"[[Saturday, Closed], [Sunday, Closed], [Monday...",None,Closed ⋅ Opens 7AM Mon,"[0x88fe8d1444299bbb:0x91daa2e82c59ea94, 0x88fe...",https://www.google.com/maps/place//data=!4m2!3...
274998,Health Insurance Solutions Team,"Health Insurance Solutions Team, 6650 Rivers A...",0x88fe71f9617c15e1:0x89518c1d251706bf,None,32.918858,-80.027952,[Health insurance agency],5.0,18,None,"[[Saturday, Closed], [Sunday, Closed], [Monday...","{'Service options': ['Online appointments'], '...",Closed ⋅ Opens 8AM Mon,"[0x88fe6fe45b8d3f15:0x41d4b940a40b246a, 0x88fe...",https://www.google.com/maps/place//data=!4m2!3...
274999,Bernard Building Center,"Bernard Building Center, 27300 M-32, M-32, Hil...",0x4d34c7517d6e6e29:0x7fe553ee2f090cf0,None,45.056691,-83.894423,"[Building materials store, Electrical supply s...",4.7,25,None,"[[Saturday, 8AM–3PM], [Sunday, Closed], [Monda...","{'Service options': ['Curbside pickup', 'Deliv...",Closed ⋅ Opens 7:30AM Mon,"[0x4d335f6408d395d9:0xc20dea80d4c100d8, 0x4d34...",https://www.google.com/maps/place//data=!4m2!3...
275000,HMR Motor Works and Auto Care,"HMR Motor Works and Auto Care, Mio, MI 48647",0x88208f4360c053ab:0xe3d6883f19601a01,None,44.649195,-84.130324,[Auto repair shop],4.4,13,None,"[[Saturday, 9AM–5:30PM], [Sunday, Closed], [Mo...",{'Accessibility': ['Wheelchair accessible entr...,Open ⋅ Closes 5:30PM,"[0x88208e43a516e3ab:0xbb20b293f8e97ab2, 0x8820...",https://www.google.com/maps/place//data=!4m2!3...

In [33]:
source_path = 'C:/Users/tinma/OneDrive/Escritorio/Google Maps/metadata-sitios'

lista = os.listdir(f'{source_path}')
dfx = pd.DataFrame()
for i in lista:
    df = pd.read_json(f'{source_path}/{i}',lines=True)
    dfx = pd.concat([dfx,df],axis=0)

dfx

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,None,32.388300,-83.357100,[Pharmacy],4.9,16,None,"[[Friday, 8AM–6PM], [Saturday, 8AM–12PM], [Sun...","{'Service options': ['In-store shopping', 'Sam...",Open ⋅ Closes 6PM,"[0x88f16e41929435cf:0x5b2532a2885e9ef6, 0x88f1...",https://www.google.com/maps/place//data=!4m2!3...
1,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,None,34.018891,-118.215290,[Textile exporter],4.5,6,None,None,None,Open now,"[0x80c2c624136ea88b:0xb0315367ed448771, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,None,34.058092,-118.292130,[Korean restaurant],4.4,18,None,"[[Thursday, 6:30AM–6PM], [Friday, 6:30AM–6PM],...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 6PM,"[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
3,Nova Fabrics,"Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...",0x80c2c89923b27a41:0x32041559418d447,None,34.023669,-118.232930,[Fabric store],3.3,6,None,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...","{'Service options': ['In-store shopping'], 'Pa...",Open ⋅ Closes 5PM,"[0x80c2c8811477253f:0x23a8a492df1918f7, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
4,Nobel Textile Co,"Nobel Textile Co, 719 E 9th St, Los Angeles, C...",0x80c2c632f933b073:0xc31785961fe826a6,None,34.036694,-118.249421,[Fabric store],4.3,7,None,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...",{'Service options': ['In-store pickup']},Open ⋅ Closes 5PM,"[0x80c2c62c496083d1:0xdefa11317fe870a1, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274996,The Green Room Of Libertyville,"The Green Room Of Libertyville, 624 Milwaukee ...",0x880f96c84b0ef57b:0xe75b67b15a2cfdad,"Innovative, globally inspired dishes are paire...",42.289450,-87.954386,"[Restaurant, Bar]",4.6,228,$$,"[[Saturday, 4:30–9PM], [Sunday, Closed], [Mond...","{'Service options': ['Curbside pickup', 'No-co...",Closed ⋅ Opens 4:30PM,"[0x880f96c848329bd5:0x5a6609c274091c81, 0x880f...",https://www.google.com/maps/place//data=!4m2!3...
274997,Klein Brothers Packaging,"Klein Brothers Packaging, 1515 S Fresno Ave, S...",0x80901260b5987b39:0x8a5028c253e7bee6,None,37.934318,-121.313102,[Trucking company],4.2,3,None,"[[Saturday, 10AM–1PM], [Sunday, Closed], [Mond...",None,Open ⋅ Closes 1PM,"[0x80900c2bd9b41a37:0x5de883f3a0746a61, 0x8090...",https://www.google.com/maps/place//data=!4m2!3...
274998,Profiles Hair Design,"Profiles Hair Design, 522 N Federal Blvd, Rive...",0x8758dd1e2533c991:0x5f6d112918f07dba,None,43.029664,-108.380849,"[Beauty salon, Hair salon]",4.7,76,None,"[[Saturday, 9AM–4PM], [Sunday, Closed], [Monda...",{'Accessibility': ['Wheelchair accessible entr...,Open ⋅ Closes 4PM,"[0x8758dd1ffba87d8f:0xf211a1ebf7297000, 0x8758...",https://www.google.com/maps/place//data=!4m2!3...
274999,Arizona LINE-X,"Arizona LINE-X, 21242 N Black Canyon Hwy #A, P...",0x872b6f6f24aea445:0x22df9e5dd01e67ba,None,33.680066,-112.113367,"[Truck accessories store, Powder coating service]",4.6,24,None,"[[Saturday, Closed], [Sunday, Closed], [Monday...","{'Service options': ['In-store shopping'], 'Pa...",Closed ⋅ Opens 8AM Mon,"[0x872b6f9d1b41ad95:0x94a335fc923f0987, 0x872b...",https://www.google.com/maps/place//data=!4m2!3...
275000,US Forest Services Ranger Station,"US Forest Services Ranger Station, 333 E Main ...",0x875901f1fbd58357:0xed5174d5b088430c,None,42.829621,-108.723720,[Campground],4.2,24,None,None,{'Accessibility': ['Wheelchair accessible entr...,None,"[0x8758fe025f4f7419:0xc98c1e92db448cb8, 0x8759...",https://www.google.com/maps/place//data=!4m2!3...

In [80]:
dfx = dfx.reset_index(drop=True)
dfx

,name,address,gmap_id,description,latitude,longitude,category,avg_rating,num_of_reviews,price,hours,MISC,state,relative_results,url
0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,None,32.388300,-83.357100,[Pharmacy],4.9,16,None,"[[Friday, 8AM–6PM], [Saturday, 8AM–12PM], [Sun...","{'Service options': ['In-store shopping', 'Sam...",Open ⋅ Closes 6PM,"[0x88f16e41929435cf:0x5b2532a2885e9ef6, 0x88f1...",https://www.google.com/maps/place//data=!4m2!3...
1,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,None,34.018891,-118.215290,[Textile exporter],4.5,6,None,None,None,Open now,"[0x80c2c624136ea88b:0xb0315367ed448771, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,None,34.058092,-118.292130,[Korean restaurant],4.4,18,None,"[[Thursday, 6:30AM–6PM], [Friday, 6:30AM–6PM],...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 6PM,"[0x80c2c78249aba68f:0x35bf16ce61be751d, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
3,Nova Fabrics,"Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...",0x80c2c89923b27a41:0x32041559418d447,None,34.023669,-118.232930,[Fabric store],3.3,6,None,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...","{'Service options': ['In-store shopping'], 'Pa...",Open ⋅ Closes 5PM,"[0x80c2c8811477253f:0x23a8a492df1918f7, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
4,Nobel Textile Co,"Nobel Textile Co, 719 E 9th St, Los Angeles, C...",0x80c2c632f933b073:0xc31785961fe826a6,None,34.036694,-118.249421,[Fabric store],4.3,7,None,"[[Thursday, 9AM–5PM], [Friday, 9AM–5PM], [Satu...",{'Service options': ['In-store pickup']},Open ⋅ Closes 5PM,"[0x80c2c62c496083d1:0xdefa11317fe870a1, 0x80c2...",https://www.google.com/maps/place//data=!4m2!3...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3025006,The Green Room Of Libertyville,"The Green Room Of Libertyville, 624 Milwaukee ...",0x880f96c84b0ef57b:0xe75b67b15a2cfdad,"Innovative, globally inspired dishes are paire...",42.289450,-87.954386,"[Restaurant, Bar]",4.6,228,$$,"[[Saturday, 4:30–9PM], [Sunday, Closed], [Mond...","{'Service options': ['Curbside pickup', 'No-co...",Closed ⋅ Opens 4:30PM,"[0x880f96c848329bd5:0x5a6609c274091c81, 0x880f...",https://www.google.com/maps/place//data=!4m2!3...
3025007,Klein Brothers Packaging,"Klein Brothers Packaging, 1515 S Fresno Ave, S...",0x80901260b5987b39:0x8a5028c253e7bee6,None,37.934318,-121.313102,[Trucking company],4.2,3,None,"[[Saturday, 10AM–1PM], [Sunday, Closed], [Mond...",None,Open ⋅ Closes 1PM,"[0x80900c2bd9b41a37:0x5de883f3a0746a61, 0x8090...",https://www.google.com/maps/place//data=!4m2!3...
3025008,Profiles Hair Design,"Profiles Hair Design, 522 N Federal Blvd, Rive...",0x8758dd1e2533c991:0x5f6d112918f07dba,None,43.029664,-108.380849,"[Beauty salon, Hair salon]",4.7,76,None,"[[Saturday, 9AM–4PM], [Sunday, Closed], [Monda...",{'Accessibility': ['Wheelchair accessible entr...,Open ⋅ Closes 4PM,"[0x8758dd1ffba87d8f:0xf211a1ebf7297000, 0x8758...",https://www.google.com/maps/place//data=!4m2!3...
3025009,Arizona LINE-X,"Arizona LINE-X, 21242 N Black Canyon Hwy #A, P...",0x872b6f6f24aea445:0x22df9e5dd01e67ba,None,33.680066,-112.113367,"[Truck accessories store, Powder coating service]",4.6,24,None,"[[Saturday, Closed], [Sunday, Closed], [Monday...","{'Service options': ['In-store shopping'], 'Pa...",Closed ⋅ Opens 8AM Mon,"[0x872b6f9d1b41ad95:0x94a335fc923f0987, 0x872b...",https://www.google.com/maps/place//data=!4m2!3...
3025010,US Forest Services Ranger Station,"US Forest Services Ranger Station, 333 E Main ...",0x875901f1fbd58357:0xed5174d5b088430c,None,42.829621,-108.723720,[Campground],4.2,24,None,None,{'Accessibility': ['Wheelchair accessible entr...,None,"[0x8758fe025f4f7419:0xc98c1e92db448cb8, 0x8759...",https://www.google.com/maps/place//data=!4m2!3...

In [82]:
dfx.category[0]

['Pharmacy']

In [85]:
list_idx = []

for i in range(len(dfx)):
    for j in dfx.category:
        if type(j) != list or type(j) != str:
            list_idx.append(i)

dfx.loc[list_idx]

MemoryError:

In [84]:
list_idx = []

for i in range(len(dfx)):
    for j in dfx.category:
        for k in j:
            if 'restaurant' in k or 'Restaurant' in k:
                list_idx.append(i)

dfx.loc[list_idx]

TypeError: 'NoneType' object is not iterable

In [66]:
dfx_cadenas.groupby('name')['gmap_id'].count()

name
Dunkin Donuts      22
KFC               415
Subway           9140
Taco Bell         685
Waffle House      115
Name: gmap_id, dtype: int64

# Extracción de datos de Yelp

In [2]:
dfy_rev = pd.read_json(r'C:\Users\tinma\OneDrive\Escritorio\Yelp\review.json',lines=True)
dfy_rev

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11
1,BiTunyQ73aT9WBnpR9DZGw,OyoGAe7OKpv6SyGZT5g77Q,7ATYjTIgM3jUlt4UM3IypQ,5,1,0,1,I've taken a lot of spin classes over the year...,2012-01-03 15:28:18
2,saUsX_uimxRlCVr67Z4Jig,8g_iMtfSiwikVnbP2etR0A,YjUWPpI6HXG530lwP-fb2A,3,0,0,0,Family diner. Had the buffet. Eclectic assortm...,2014-02-05 20:30:30
3,AqPFMleE6RsU23_auESxiA,_7bHUi9Uuf5__HHc_Q8guQ,kxX2SOes4o-D3ZQBkiMRfA,5,1,0,1,"Wow! Yummy, different, delicious. Our favo...",2015-01-04 00:01:03
4,Sx8TMOWLNuJBWer-0pcmoA,bcjbaE6dDog4jkNY91ncLQ,e4Vwtrqf-wpJfwesgvdgxQ,4,1,0,1,Cute interior and owner (?) gave us tour of up...,2017-01-14 20:54:15
...,...,...,...,...,...,...,...,...,...
6990275,H0RIamZu0B0Ei0P4aeh3sQ,qskILQ3k0I_qcCMI-k6_QQ,jals67o91gcrD4DC81Vk6w,5,1,2,1,Latest addition to services from ICCU is Apple...,2014-12-17 21:45:20
6990276,shTPgbgdwTHSuU67mGCmZQ,Zo0th2m8Ez4gLSbHftiQvg,2vLksaMmSEcGbjI5gywpZA,5,2,1,2,"This spot offers a great, affordable east week...",2021-03-31 16:55:10
6990277,YNfNhgZlaaCO5Q_YJR4rEw,mm6E4FbCMwJmb7kPDZ5v2Q,R1khUUxidqfaJmcpmGd4aw,4,1,0,0,This Home Depot won me over when I needed to g...,2019-12-30 03:56:30
6990278,i-I4ZOhoX70Nw5H0FwrQUA,YwAMC-jvZ1fvEUum6QkEkw,Rr9kKArrMhSLVE9a53q-aA,5,1,0,0,For when I'm feeling like ignoring my calorie-...,2022-01-19 18:59:27
6990279,RwcKOdEuLRHNJe4M9-qpqg,6JehEvdoCvZPJ_XIxnzIIw,VAeEXLbEcI9Emt9KGYq9aA,3,10,3,7,Located in the 'Walking District' in Nashville...,2018-01-02 22:50:47

In [5]:
for x in dfy_rev.columns:
    print(x,dfy_rev[x].dtype)

review_id object
user_id object
business_id object
stars int64
useful int64
funny int64
cool int64
text object
date datetime64[ns]

In [7]:
dfy_rev.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6990280 entries, 0 to 6990279
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   review_id    object
 1   user_id      object
 2   business_id  object
 3   stars        int64
 4   useful       int64
 5   funny        int64
 6   cool         int64
 7   text         object
 8   date         datetime64[ns]
dtypes: datetime64[ns](1), int64(4), object(4)
memory usage: 480.0+ MB

In [9]:
dfy_rev.isnull().sum()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

In [10]:
dfy_rev.describe()

              stars        useful         funny          cool
count  6.990280e+06  6.990280e+06  6.990280e+06  6.990280e+06
mean   3.748584e+00  1.184609e+00  3.265596e-01  4.986175e-01
std    1.478705e+00  3.253767e+00  1.688729e+00  2.172460e+00
min    1.000000e+00 -1.000000e+00 -1.000000e+00 -1.000000e+00
25%    3.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    4.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
75%    5.000000e+00  1.000000e+00  0.000000e+00  0.000000e+00
max    5.000000e+00  1.182000e+03  7.920000e+02  4.040000e+02

In [5]:
dfy_user = pd.read_parquet(r'C:\Users\tinma\OneDrive\Escritorio\Yelp\ .parquet')
dfy_user

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,qVc8ODYU5SZjKXVBgXdI7w,Walker,585,2007-01-25 16:47:26,7217,1259,5994,2007,"NSCy54eWehBJyZdG2iE84w, pe42u7DcCH2QmI81NX-8qA...",267,...,65,55,56,18,232,844,467,467,239,180
1,j14WgRoU_-2ZE1aw1dXrJg,Daniel,4333,2009-01-25 04:35:42,43091,13066,27281,"2009,2010,2011,2012,2013,2014,2015,2016,2017,2...","ueRPE0CX75ePGMqOFVj6IQ, 52oH4DrRvzzl8wh5UXyU0A...",3138,...,264,184,157,251,1847,7054,3131,3131,1521,1946
2,2WnXYQFK0hXEoTxPtV2zvg,Steph,665,2008-07-25 10:41:00,2086,1010,1003,"2009,2010,2011,2012,2013","LuO3Bn4f3rlhyHIaNfTlnA, j9B4XdHUhDfTKVecyWQgyA...",52,...,13,10,17,3,66,96,119,119,35,18
3,SZDeASXq7o05mMNLshsdIA,Gwen,224,2005-11-29 04:38:33,512,330,299,"2009,2010,2011","enx1vVPnfdNUdPho6PH_wg, 4wOcvMLtU6a9Lslggq74Vg...",28,...,4,1,6,2,12,16,26,26,10,9
4,hA5lMy-EnncsH4JoR-hFGQ,Karen,79,2007-01-05 19:40:59,29,15,7,,"PBK4q9KEEBHhFvSXCUirIw, 3FWPpM7KU1gXeOM_ZbYMbA...",1,...,1,0,0,0,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2105592,4QGxxakRZeOlg_qDuxmTeQ,Jennilee,38,2012-01-19 23:33:02,74,9,6,,kmwNG5LZSHFmveg6wYYdrw,0,...,1,0,0,0,1,4,0,0,1,0
2105593,tmelBbVBGAzXBVfH2u_R6g,Gerry,19,2009-06-09 16:34:54,14,5,2,,"BFYdCAMFyjYHDwesndEXEg, _9fTIqfSJc7g3V_o76XRVg...",1,...,1,0,0,0,0,1,0,0,0,0
2105594,tpBznnD6uJN3m_pJubj09w,Emily,26,2013-08-13 23:18:11,4,1,2,,"bKV3ly2MuK-K1cptMrFknQ, liel18zRoSB4tEkUP7i6Cg...",0,...,0,0,0,0,1,0,0,0,0,0
2105595,Kst_srPw7GdYydMFYdCtzw,Heatheranne,25,2015-01-10 00:06:25,21,2,5,,"dzHTk52vbGtbktRm_B-wEg, fOfFLV7IbBDN6lzARaLqdg...",0,...,0,0,0,0,0,1,0,0,0,0
2105596,mZl-mH3ZIWLRSd_FfvrXFg,Jessica,30,2015-11-30 21:10:17,27,1,17,,"pou3BbKsIozfH50rxmnMew, JT3rDC7-hprCSObnihMeHw...",3,...,0,1,0,0,0,1,0,0,1,0

In [6]:
df_tip = pd.read_json(r'C:\Users\tinma\OneDrive\Escritorio\Yelp\tip.json',lines=True)
df_tip

,user_id,business_id,text,date,compliment_count
0,AGNUgVwnZUey3gcPCJ76iw,3uLgwr0qeCNMjKenHJwPGQ,Avengers time with the ladies.,2012-05-18 02:17:21,0
1,NBN4MgHP9D3cw--SnauTkA,QoezRbYQncpRqyrLH6Iqjg,They have lots of good deserts and tasty cuban...,2013-02-05 18:35:10,0
2,-copOvldyKh1qr-vzkDEvw,MYoRNLb5chwjQe3c_k37Gg,It's open even when you think it isn't,2013-08-18 00:56:08,0
3,FjMQVZjSqY8syIO-53KFKw,hV-bABTK-glh5wj31ps_Jw,Very decent fried chicken,2017-06-27 23:05:38,0
4,ld0AperBXk1h6UbqmM80zw,_uN0OudeJ3Zl_tf6nxg5ww,Appetizers.. platter special for lunch,2012-10-06 19:43:09,0
...,...,...,...,...,...
908910,eYodOTF8pkqKPzHkcxZs-Q,3lHTewuKFt5IImbXJoFeDQ,Disappointed in one of your managers.,2021-09-11 19:18:57,0
908911,1uxtQAuJ2T5Xwa_wp7kUnA,OaGf0Dp56ARhQwIDT90w_g,Great food and service.,2021-10-30 11:54:36,0
908912,v48Spe6WEpqehsF2xQADpg,hYnMeAO77RGyTtIzUSKYzQ,Love their Cubans!!,2021-11-05 13:18:56,0
908913,ckqKGM2hl7I9Chp5IpAhkw,s2eyoTuJrcP7I_XyjdhUHQ,Great pizza great price,2021-11-20 16:11:44,0
908914,4tF1CWdMxvvwpUIgGsDygA,_cb1Vg1NIWry8UA0jyuXnQ,Food is good value but a bit hot!,2021-12-07 22:30:00,0

In [22]:
dfy_bsi = pd.read_pickle(r'C:\Users\tinma\OneDrive\Escritorio\Yelp\business.pkl')
dfy_bsi = dfy_bsi.iloc[:,:14]
dfy_chip = dfy_bsi[dfy_bsi.name=='Chipotle']
dfy_chip

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
115794,1MVoJvPhP5SkrJGCxuriaQ,Chipotle,"1851 S Columbus Blvd, Ste 3",Philadelphia,TN,19148,39.923491,-75.140583,1.0,8,1,"{'RestaurantsDelivery': 'True', 'RestaurantsTa...","Fast Food, Restaurants, Mexican","{'Monday': '0:0-0:0', 'Tuesday': '10:45-22:0',..."

In [23]:
dfy_bsi[dfy_bsi.name == 'McDonalds']

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
28756,2d7rO6a0HdyEg2Nnf3kLKg,McDonalds,11240 82 Street NW,Edmonton,PA,T5B 0C1,53.561686,-113.466926,2.0,10,1,"{'RestaurantsAttire': ''casual'', 'Restaurants...","Restaurants, Food, Fast Food",None
91266,A1hHP1HZfebuI9-sdieZBQ,McDonalds,34 Avenue 99 Street,Edmonton,TN,T5V 1T8,53.468252,-113.486935,2.0,14,1,"{'HasTV': 'True', 'GoodForKids': 'True', 'Rest...","Fast Food, Restaurants","{'Monday': '0:0-0:0', 'Tuesday': '0:0-0:0', 'W..."
102306,ln57otfbTmN8FsLlR4x57Q,McDonalds,"30th St Station, 2951 Market St",Philadelphia,FL,19104,39.961793,-75.19721,2.5,10,0,"{'RestaurantsReservations': 'False', 'Restaura...","Burgers, Restaurants, Fast Food",None
103477,jDGxzwlkyH3I7_LghcxLAA,McDonalds,Philadelphia Airport Terminal E,Philadelphia,ID,19153,39.877906,-75.236665,2.0,12,0,"{'WiFi': ''no'', 'NoiseLevel': ''average'', 'B...","Burgers, Fast Food, Restaurants",None
128629,FKwQsrcZXy-NUKszOcV8mQ,McDonalds,934 Canal St,New Orleans,NV,70112,29.954638,-90.071902,2.0,10,0,"{'RestaurantsAttire': ''casual'', 'Restaurants...","Restaurants, Fast Food",None

In [2]:
'review-New_York'[7:]

'New_York'