In [1]:
import pandas as pd
from IPython.display import display

# Cargar el primer archivo CSV
df_metadata = pd.read_csv("C:/Users/Fede/Documents/Henry/Proyecto 3/etl/df_metadata1.csv")

# Cargar el segundo archivo CSV y renombrar la columna "name" como "user_name"
df_reviews = pd.read_csv("C:/Users/Fede/Documents/Henry/Proyecto 3/Pruebas de Código en local/ReviewsEstados.csv")
df_reviews.rename(columns={'name': 'user_name'}, inplace=True)

# Concatenar las filas por "gmap_id"
GoogleMapsDF = pd.concat([df_metadata, df_reviews], axis=0, ignore_index=True, sort=False)

# Guardar el DataFrame resultante en un archivo CSV
GoogleMapsDF.to_csv("GoogleMapsDF.csv", index=False)

# Mostrar el DataFrame resultante usando display
display(GoogleMapsDF)

,name,address,gmap_id,latitude,longitude,category,avg_rating,num_of_reviews,hours,MISC,state,relative_results,user_id,user_name,time,rating,text,pics,resp
0,Porter Pharmacy,"Porter Pharmacy, 129 N Second St, Cochran, GA ...",0x88f16e41928ff687:0x883dad4fd048e8f8,32.388300,-83.357100,['Pharmacy'],4.9,16.0,"[['Friday', '8AM–6PM'], ['Saturday', '8AM–12PM...","{'Service options': ['In-store shopping', 'Sam...",Open ⋅ Closes 6PM,"['0x88f16e41929435cf:0x5b2532a2885e9ef6', '0x8...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,City Textile,"City Textile, 3001 E Pico Blvd, Los Angeles, C...",0x80c2c98c0e3c16fd:0x29ec8a728764fdf9,34.018891,-118.215290,['Textile exporter'],4.5,6.0,NaN,NaN,Open now,"['0x80c2c624136ea88b:0xb0315367ed448771', '0x8...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,San Soo Dang,"San Soo Dang, 761 S Vermont Ave, Los Angeles, ...",0x80c2c778e3b73d33:0xbdc58662a4a97d49,34.058092,-118.292130,['Korean restaurant'],4.4,18.0,"[['Thursday', '6:30AM–6PM'], ['Friday', '6:30A...","{'Service options': ['Takeout', 'Dine-in', 'De...",Open ⋅ Closes 6PM,"['0x80c2c78249aba68f:0x35bf16ce61be751d', '0x8...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Nova Fabrics,"Nova Fabrics, 2200 E 11th St, Los Angeles, CA ...",0x80c2c89923b27a41:0x32041559418d447,34.023669,-118.232930,['Fabric store'],3.3,6.0,"[['Thursday', '9AM–5PM'], ['Friday', '9AM–5PM'...","{'Service options': ['In-store shopping'], 'Pa...",Open ⋅ Closes 5PM,"['0x80c2c8811477253f:0x23a8a492df1918f7', '0x8...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Nobel Textile Co,"Nobel Textile Co, 719 E 9th St, Los Angeles, C...",0x80c2c632f933b073:0xc31785961fe826a6,34.036694,-118.249421,['Fabric store'],4.3,7.0,"[['Thursday', '9AM–5PM'], ['Friday', '9AM–5PM'...",{'Service options': ['In-store pickup']},Open ⋅ Closes 5PM,"['0x80c2c62c496083d1:0xdefa11317fe870a1', '0x8...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15271822,NaN,NaN,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,116289682184154241612,Alfredo Gonzalez,1.539998e+12,4.0,NaN,NaN,NaN
15271823,NaN,NaN,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105913807381285173358,Michael Claudio,1.579035e+12,5.0,NaN,NaN,NaN
15271824,NaN,NaN,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,112484215665255129328,Juan Cruz,1.558363e+12,4.0,NaN,NaN,NaN
15271825,NaN,NaN,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,117459898593319517947,Joel Rodriguez,1.601477e+12,5.0,NaN,NaN,NaN
15271826,NaN,NaN,0x8705b6b8981c266d:0x5770fa9f1b6c0b1a,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,103850440770260732812,Rocky Barerra,1.561698e+12,5.0,NaN,NaN,NaN